
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.header.scrolled-up {
  background-color: #018cde;
}

.header.scrolled-down {
  background-color: white;
}

.logo-container {
  flex: 1;
}

.logo-container a {
  text-decoration: none;
}

.logo {
  width: 50px;
  height: 50px;
}

.nav-links {
  display: flex;
}

.nav-links ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links li {
  margin-left: 15px;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.nav-links li:last-child a {
  background-color: #fff;
  color: skyblue;
  padding: 8px 16px;
  border-radius: 25px;
  border: 2px solid #007bff;
  transition: background-color 0.3s, color 0.3s;
}

.nav-links li:last-child a:hover {
  background-color: white;
  color: #007bff;
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 4px;
  margin-left: auto;
  color: #333;
}

.nav-links {
  display: flex;
}

.nav-links.mobile {
  display: none;
  flex-direction: column;
  width: 100%;
}

.nav-links.show {
  display: flex;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: block;
    font-size: 24px;
  }

  .nav-links.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 10px 0;
  }

  .nav-links ul {
    flex-direction: column;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .nav-links a {
    font-size: 16px;
    color: #007bff;
  }
}
